<div class="pl-page"
     *appMobile="false">
<!--  <div class="pl-header"-->
<!--       style="position: fixed; z-index: 1045; width: 100vw">-->
<!--    <app-header></app-header>-->
<!--  </div>-->

  <div class="pl-sidenav-and-content"
       style="position: relative;         padding-top: 60px;">
    <div class="pl-content">
      <div class="pl-inner-content">
<!--        <app-operators></app-operators>-->
        <app-training-page></app-training-page>
      </div>
    </div>
  </div>
</div>


<!--<div *appMobile="true"-->
<!--     style="    background-color: #e9e9e9; min-height: 100vh">-->
<!--  <app-main-content-wrapper>-->

<!--    <div (scroll)="onScroll($event)">-->
<!--      <router-outlet></router-outlet>-->
<!--      <app-operators [scrollSubject]="scrollSubject"></app-operators>-->
<!--    </div>-->
<!--  </app-main-content-wrapper>-->
<!--</div>-->
